@import 'src/styles/vars.scss';

.timer {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    box-shadow: 1px 1px 8px white;
    border-radius: 50%;
    top: -30px;
    left: -70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__value {
        display: inline-block;
        font-family: $carbon-police;
        font-size: $h1-size;
        text-shadow: 2px 2px black;
    }
    &__urgent {
        transform: scale(1.8);
    }
    &__dangerous {
        transform: scale(2.5);
    }
}

//Mobile
@media screen  and (min-width:0px) and (max-width: 480px) {
    .timer {
        width: 50px;
        height: 50px;
        top: -20px;
        left: -20px;
        &__value {
            font-size: 2.2em;
        }
    }
}
//Tablet
@media screen  and (min-width:481px) and (max-width: 768px) {
    .timer {
        width: 60px;
        height: 60px;
        top: -20px;
        left: -30px;
        &__value {
            font-size: 2.2em;
        }
    }
}
//Tablet Landscape
@media screen  and (min-width:769px) and (max-width: 1024px) {
    .timer {
        width: 80px;
        height: 80px;
        top: -20px;
        left: -30px;
        &__value {
            font-size: 2.2em;
        }
    }
}
//Laptop
@media screen  and (min-width:1025px) and (max-width: 1200px) {
    .timer {
        width: 80px;
        height: 80px;
        top: -20px;
        left: -30px;
        &__value {
            font-size: 2.2em;
        }
    }
}
//Desktop
@media screen  and (min-width:1601px) {
}
