@import 'src/styles/vars.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $gutter 0;
    color: $color-white;
    &__logo {
        max-width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        color: $color-white;
        text-decoration: none;
        transition-duration: 0.2s;
        & span {
            display: block;
            text-align: center;
            margin: 0 auto;
        }
        & img {
            border-radius: 50%;
            // border: 1px solid transparent;
            // background-color: rgba(0, 0, 0, 0.145);
            padding-left: 1.2rem; 
            padding-right: 1.2rem; 
        }
        &:hover {
            max-width: 90px;
            max-height: 10px;
        }
    }
    &__title {
        display: block;
        font-size: $h1-size * 1.9;
        font-family: $h1-police;
        br{
            display: none;
        }
    }
}
.connexion {
    &__button {
        width: 100%;
        margin-right: 2rem;
        // background-color: #843781; 
        color: white; 
        border: 1px solid rgb(161, 34, 192); 
        padding-bottom: 0.5rem;
        padding-top: 0.5rem; 
        font-size: 0.9rem;
        border-radius: 5%;
        margin-bottom: 0.5rem; 
        transition-duration: 0.2s;
        background-color: #692b67; 
        &:hover {
            background-color: #dcdbdb; /* Green */
            color: #692b67;
            font-size: 1rem;
        }
        
    }
}

.connection {
    position: relative;
    &__menu {
        background-color: rgb(223, 222, 222);
        position: absolute;
        display: none;
        right: 30px;
        z-index: 1;
        width: 175px;
        padding: $gutter;
        border: 1px solid $border-color;
        border-radius: 2%;
    }
    &__input {
        width: 100%;
        // color: lawngreen;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        border: none; 
        border-bottom: 2px solid #843781;
        background-color: rgb(223, 222, 222);
        color: black; 
    }
    
    &__valider {
        color:rgb(235, 235, 235);
        width: 100%;
        // margin-top: 20px;
        margin-bottom: 15px;
        // background-color: #4CAF50;
        border: none; 
        transition-duration: 0.2s;
        background-color: #843781; 
        padding-bottom: 0.5rem;
        padding-top: 0.5rem; 
        font-size: 1.1rem;
        &:hover {
            background-color: rgb(223, 222, 222);
            color: #692b67;;
        }
    }
        
    &__link {
        color: rgb(57, 163, 220);
        font-size: 13px;
        &:hover {
            color: rgb(34, 34, 167);
        }
    }

}

.is-displayed {
    display: block;
    
}
//Mobile
@media screen  and (min-width:0px) and (max-width: 480px) {
    .header{
        &__title{
            font-size: 2em;
            margin: auto;
        }
        &__logo{
            display: none;
        }
    }
}
//Tablet
@media screen  and (min-width:481px) and (max-width: 768px) {
    .header{
        &__title{
            font-size: 2.5em;
            margin: auto;
        }
        &__logo{
            display: none;
        }
    }
}
//Tablet Landscape
@media screen  and (min-width:769px) and (max-width: 1024px) {
    .header{
        &__title{
            font-size: 3em;
        }
        &__logo{
            width: 70px;
        }
    }
}
//Laptop
@media screen  and (min-width:1025px) and (max-width: 1600px) {
    .header{
        &__title{
            font-size: 4em;
        }
    }
}
