@import 'src/styles/vars.scss';

.aboutUs {
    // background-color: white;
    width: 92%;
    height: 90%;
    overflow: auto;
    margin-left: 2rem;
    &__pictures {
        width: 20%;
        margin-bottom: $gutter;
    }
    &__name {
        font-size: $h2-size * 1.2;
        color: white;
        font-family: $h1-police; 
        font-weight: bold;
    }
    &__type {
        font-family: $carbon-police;
        font-size: 1.5rem;
    }
    &__description {
        color: white;
        margin: $gutter;
        font-size: 1.5rem;
    }
}

.title {
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: $carbon-police;
    margin-bottom: 1rem;
}

// .imgright {
//     margin-right: 0;
// }

// .right {
//     text-align: end;
// }
// .flex-container{
//     background-color: rgba(255, 255, 255, 0.241);
//     display: block;
//     width: 300px;
// }

// .right {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     justify-content: center;
//     align-self: center;
// }
/* Scrollbar styles */

::-webkit-scrollbar {
    width: 1rem;
    height: 0.2px; 
}
    
::-webkit-scrollbar-thumb {
    background: #9d1058; 
    border-radius: 10px;
    
}
    
::-webkit-scrollbar-thumb:hover {
    background: #7b0c45;  
}
    

