@import 'src/styles/vars.scss';

.playerDisplay {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    max-width: 100px;
    position: relative;
    &__pseudo {
        text-align: center;
        font-size: $h2-size / 1.1;
        font-weight: bold;
        background-color: white;
        padding: $gutter / 2;
        border-radius: 5px;
    }
    &__progBar {
        border: 1px solid white;
        min-height: 70%;
        width: 50px;
        margin-top: $gutter / 2;
        display: flex;
        flex-direction: column-reverse;
        &--full {
            display: block;
            background-color: white;
        }
    }
    &__avatar {
        max-width: 70px;
        height: 20%;
        margin-top: $gutter / 2;
        background-color: transparent;
        position: absolute;
        bottom: 0;
    }
}