@import 'src/styles/vars.scss';

.game {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    &__left {
        width: 85%;
        padding: $gutter;
        display: block;
        max-height: 90%;
    }
    &__right {
        width: 15%;
        max-height: 80%;
        &--isOver {
            position: absolute;
            right: 0;
            animation-duration: 2s;
            animation-name: displayScore;
            width: 98%;
        }
    }
    &__interface {
        border-radius: 15px;
        box-shadow: $shadow-letters;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 72%;
        z-index: 1;
        &--header {
            width: 90%;
            height:10%;
            z-index: 1;
            margin: 0 auto;
        }
        &--main {
            width: 100%;
            height: 80%;
        }
        &--footer {
            width: 100%;
            height: 10%;
        }
        &--isOver {
            animation-duration: 2s;
            animation-name: removeGame;
            width: 0%;
        }
    }
    &__bottom {
        margin-top: $gutter;
        display: flex;
        height: 30%;
        position: relative;
        bottom: 0px;
    }
    &__tchat {
        width: 100%;
        height: 100%;
        position: relative;
        align-self: flex-end;
        &--button {
            position: absolute;
            bottom: 10px;
            right: 10px;
            border: none;
            background-color: transparent;
            transition-duration: .2s;
            &:hover {
                transition-duration: .2s;
                transform: scale(1.2);
            }
        }
    }
    &__leaveGame {
        // position: absolute;
        // bottom: 25px;
        // right: 0;
        margin-right: $gutter;
        box-shadow: $shadow-letters;
    }
    &__newMessage {
        position: absolute;
        bottom: 25px;
        right: 15px;
        background-color: transparent;
        border: none;
    }
    &__closeChatButton {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        background-color: transparent;
    }
}

// Animations
@keyframes slideout {
    from {
        right: 1.5%;
    }

    to {
        right: 200%;
    }
}

@keyframes slidein {
    from {
        right: 200%;
    }

    to {
        right: 1.5%;
    }
}

@keyframes displayScore {
    from {
        width: 15%;
    }

    to {
        width: 98%;
    }
}

@keyframes removeGame {
    from {
        width: 98%;
    }

    to {
        width: 0%;
    }
}

//Mobile
@media screen  and (min-width:0px) and (max-width: 480px) {
    .game {
        flex-direction: column;
        justify-content: space-evenly;
        &__left {
            width: 90%;
            min-height: 60%;
            max-height: 80%;
            margin: 0 auto;
            border: 1px solid white;
        }
        &__right {
            width: 90%;
            margin: $gutter auto;
            &--isOver {
                width: 98%;
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        &__interface {
            height: 100%;
            &--header {
                width: 80%;
            }
        }
        &__bottom {
            z-index: 5;
            position: absolute;
            width: 97%;
            right: 200%;
            bottom: 10px;
            &--isOpen {
                right: 1.5%;
                animation-duration: .4s;
                animation-name: slidein;
    
            }
            &--isClosed {
                right: 200%;
                animation-duration: .4s;
                animation-name: slideout;
            }
        }
        &__tchat {
            height: 110%;
        }
        &__leaveGame {
            width: 60%;
        }
    }
}
//Tablet
@media screen  and (min-width:481px) and (max-width: 768px) {
    .game {
        flex-direction: column;
        justify-content: space-evenly;
        &__left {
            width: 90%;
            min-height: 60%;
            max-height: 80%;
            margin: 0 auto;
            border: 1px solid white;
        }
        &__right {
            width: 90%;
            margin: $gutter auto;
            &--isOver {
                width: 98%;
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        &__interface {
            height: 100%;
            &--header {
                width: 80%;
            }
        }
        &__bottom {
            z-index: 5;
            position: absolute;
            width: 97%;
            right: 200%;
            bottom: 10px;
            &--isOpen {
                right: 1.5%;
                animation-duration: .4s;
                animation-name: slidein;
    
            }
            &--isClosed {
                right: 200%;
                animation-duration: .4s;
                animation-name: slideout;
            }
        }
        &__tchat {
            height: 110%;
        }
        &__leaveGame {
            width: 60%;
        }
    }
}
//Tablet Landscape
@media screen  and (min-width:769px) and (max-width: 1024px) {
    .game {
        &__interface {
            &--header {
                width: 80%;
            }
        }
        &__leaveButton {
            right: -200px;
            max-width: 150px;
        }
    }
}
//Laptop
@media screen  and (min-width:1025px) and (max-width: 1600px) {
}
//Desktop
@media screen  and (min-width:1601px) {
}
