@import 'src/styles/vars.scss';

.game {
    display: flex;
    justify-content: space-between;
    &__left {
        flex-grow: 10;
        padding: $gutter;
        display: flex;
        flex-direction: column;
    }
    &__interface {
        border: 1px solid $color-white;
        padding: $gutter;
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &--question {
            font-size: $h2-size;
            flex-grow: 1;
        }
        &--players {
            display: flex;
            justify-content: space-evenly;
            border: 1px solid white;
            flex-grow: 10;
            width: 95%;
        }
        &--answer {
            flex-grow: 1;
            margin-top: $gutter;
        }
    }
    &__tchat {
        border: 1px solid $color-white;
        flex-grow: 1;
        margin-top: $gutter;
    }
    &__ranking {
        flex-grow: 1;
        padding: $gutter 0; 
        margin: $gutter;
        border: 1px solid $color-white;
        text-align: center;

        & h2 {
            font-size: $h2-size;
        }

        &--list {
            margin-top: $gutter;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            overflow-y: auto;
        }
    }
}

.playerDisplay {

}