@import 'src/styles/vars.scss';

.admin{
    &__title{
        font-size: 3em;
        text-align: center;
    }
    &__content{
        display: flex;
        margin: $gutter;
        justify-content: space-around;
        &-left{
            .section{
                margin: $gutter 0;
                &__title{
                    font-size: 2em;
                }
                &__list{
                    margin: $gutter*0.5 $gutter;
                }
                &__item{
                    margin: $gutter*0.5 $gutter;
                    font-size: 1.5em;
                }
            }
        }
        &-right{
            .form-content{
                display: flex;
                flex-direction: column;
                padding: $gutter*3 0;
                &__label{
                    margin: $gutter*0.5 0;
                }
                &__input{
                    margin: $gutter*0.5 0;
                }
                &__button{
                    margin: $gutter*0.5 0;
                }
            }
        }
    }
}