@import 'src/styles/vars.scss';

.score {
    min-height: 7vh;
    padding: $gutter / 2;
    width: 100%;
    text-align: center;
    position: relative;
    & span {
        display: inline-block;
    }
    &__pseudo {
        display: inline-block;
        padding: $gutter / 2;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: $shadow-letters;
        color: white;
        text-shadow: $shadow-letters;
        font-family: $h1-police;
        margin-top: $gutter / 2;
        margin-right: auto;
        margin-left: auto;
    }
    &__points {
        margin-top: $gutter;
        font-family: $carbon-police;
        font-size: $h2-size;
        text-shadow: 2px 2px 3px white;
        display: flex;
        flex-direction: column;
    }
    &__avatar {
        width: 70%;
        margin: 0 auto;
    }
    &__ownAvatar {
        animation: isDancing 2.5s infinite;
    }
    &__user {
        width: 15%;
    }
    &__exactAnswers {
        margin-top: $gutter;
        font-family: $carbon-police;
        font-size: $h2-size;
        text-shadow: 2px 2px 3px white;
        display: flex;
        flex-direction: column;
    }
    &__desc {
        font-size: 1rem;
    }
    &__result {
        font-size: $h2-size * 1.2;
    }
}

@keyframes isDancing {
    0% { transform: rotate(0deg); }
    5% { transform: rotate(5deg); }
    10% { transform: rotate(-5deg); }
    15% { transform: rotate(5deg); }
    20% { transform: rotate(-5deg); }
    25% { transform: rotate(5deg); }
    30% {transform: rotate(-5deg); }
    35% { transform: rotate(5deg); }
    40% {transform: rotate(-5deg); }
    45% {transform: rotate(0deg);}
    65% {transform: rotate(5deg);}
    70% {transform: rotate(-5deg);}
    75% {transform: rotate(5deg);}
    80% { transform: rotate(-5deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

//Mobile
@media screen  and (min-width:0px) and (max-width: 480px) {
    .score {
        font-size: .5em;
        &__desc {
            font-size: .6rem;
        }
    }
}
//Tablet
@media screen  and (min-width:481px) and (max-width: 768px) {
    .score {
        &__pseudo {
            font-size: .7em;
        }
    }
}
//Tablet Landscape
@media screen  and (min-width:769px) and (max-width: 1024px) {
    .score {
        &__pseudo {
            font-size: .8em;
        }
    }
}
//Laptop
@media screen  and (min-width:1025px) and (max-width: 1600px) {
}
//Desktop
@media screen  and (min-width:1601px) {
}
