@import 'src/styles/vars.scss';

.answer {
    flex-grow: 1;
    margin: $gutter;
    &__input {
        width: 30%;
        font-family: $carbon-police;
        font-size: 1.2em;
        padding: $gutter / 2;
        border-radius: $button-radius;
        border: none;
        box-shadow: 2px 2px 8px black;
        &::placeholder {
            text-shadow: 1px 1px 0px black;
            font-weight: bold;
        }
        transition: .2s scale;
        &:hover {
            transform: scale(1.2);
        }
    }
    &__submit {
        padding: $gutter / 2;
        margin-left: $gutter * 1.5;
        border: none;
        border-radius: $button-radius;
        color: white;
        font-family: $h1-police;
        text-shadow: $shadow-letters;
        box-shadow: $shadow-letters;
        transition: .2s scale;
        &:hover {
            transform: scale(1.2);
        }
    }
}

//Mobile
@media screen  and (min-width:0px) and (max-width: 290px) {
    .answer {
        &__input {
            font-size: .7em;
        }
        &__submit {
            font-size: .6em;
            width: 30%;
            margin-left: $gutter;
        }
    }
}
@media screen  and (min-width:291px) and (max-width: 480px) {
    .answer {
        &__input {
            width: 50%;
            font-size: .7em;
        }
        &__submit {
            font-size: .6em;
            margin-left: $gutter * 1.4;
        }
    }
}

//Tablet
@media screen  and (min-width:481px) and (max-width: 768px) {
    .answer {
        &__input {
            width: 66%;
            font-size: .9em;
        }
        &__submit {
            font-size: .8em;
        }
    }
}
//Tablet Landscape
@media screen  and (min-width:769px) and (max-width: 1024px) {
}
//Laptop
@media screen  and (min-width:1025px) and (max-width: 1600px) {
}
//Desktop
@media screen  and (min-width:1601px) {
}
