@import 'src/styles/vars.scss';

.answer {
    flex-grow: 1;
    margin: $gutter;
    &__input {
        width: 30%;
        font-family: $carbon-police;
        padding: $gutter / 2;
        border-radius: $button-radius;
        text-shadow: 2px 2px 1px black;
        border: none;
        box-shadow: 2px 2px 8px black;
        &::placeholder {
            text-shadow: 1px 1px 0px black;
            font-weight: bold;
        }
        transition: .2s scale;
        &:hover {
            transform: scale(1.2);
        }
    }
    &__submit {
        padding: $gutter / 2;
        margin-left: $gutter;
        border: none;
        border-radius: $button-radius;
        color: white;
        font-family: $h1-police;
        text-shadow: $shadow-letters;
        box-shadow: $shadow-letters;
        transition: .2s scale;
        &:hover {
            transform: scale(1.2);
        }
    }
}