@import 'src/styles/vars.scss';

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 96vh;
    padding: $gutter;
    &__main {
        width: 70%;
        margin: 0 auto;
        border: 1px solid transparent;
        background-color: rgba(26, 11, 43, 0.035);
        box-shadow: rgba(51, 51, 51, 0.611) 0px 2px 50px;
        border-radius: 10px;
        min-height: 50vh;
        padding: $gutter;
    }
}
