@import 'src/styles/vars.scss';

.page {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    min-height: 96vh;
    padding: $gutter;
    &__main {
        width: 90%;
        margin: 0 auto;
        border: 1px solid $border-color;
        height: 50vh;
        padding: $gutter;
    }
}
