@import 'src/styles/vars.scss';

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 96vh;
    padding: $gutter;
    &__main {
        background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        width: 80%;
        margin: 0 auto;
        border: 1px solid transparent;
        background-color: rgba(26, 11, 43, 0.035);
        box-shadow: rgba(51, 51, 51, 0.611) 0px 2px 50px;
        border-radius: 10px;
        height: 60vh;
        padding: $gutter;
    }
}

// Media Queries

//Mobile
@media screen  and (min-width:0px) and (max-width: 540px) {
    .page {
        &__main {
            width: 92%;
            overflow-y: auto;
        }
    }
}
//Tablet
@media screen  and (min-width:481px) and (max-width: 768px) {
    .page {
        &__main {
            width: 95%;
        }
    }
}
//Tablet Landscape
@media screen  and (min-width:769px) and (max-width: 1024px) {
    .page {
        &__main {
            width: 95%;
        }
    }
}
//Laptop
@media screen  and (min-width:1025px) and (max-width: 1600px) {
    .page {
        &__main {
            width: 85%;
        }
    }
}