@import 'src/styles/vars.scss';


.chat__messages{
    height: 150px;
    padding: $gutter*0.5;
    overflow: auto;
    border-radius: 8px 8px 0 0;
    background: #cc2b5e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e);
    
    .message{
        display: inline-block;
        position: relative;
        flex-direction: column;
        margin-top: 0.5rem;
        background-color: #faf6fa;
        color: black;
        padding: $gutter / 2;
        min-width: 100px;
        border-radius: $button-radius * 4;
        &__author {
            font-family: $h1-police;
            font-size: $h2-size;
            text-shadow: $shadow-letters;
        }
        &__content{
            font-family: $vanilla-police;
        }
        &__triangle{
            display : inline-block;
            height : 0;
            width : 0;
            border-top : 15px solid #faf6fa;
            border-right : 15px solid transparent;
            position: absolute;
            bottom: -14px;
            left: 20px;
        }
    }
    
}

div.chat__messages::-webkit-scrollbar {
    opacity: 0;
  }
