@import 'src/styles/vars.scss';


.chat__messages{
    height: 150px;
    padding: $gutter*0.5;
    overflow: auto;
    .message{
        text-align: left;
        border-bottom: 1px solid black;
        &__author {
            padding: 0.6em 0.6em 0.2em 0;
            margin-left: 1.5rem;
            }
        &__content{
            
        }
    }
}
