@import 'src/styles/vars.scss';

.createRoom {
    display: flex;
    &__player {
        flex-grow: 1;
    }
    &__menu {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.rules {
    color : $color-white;
    text-shadow: 1.5px 1.5px 1.5px black;
    width: 70%;
    margin: $gutter auto;
    &__h2 {
        font-size: $h2-size * 2;
        font-family: $carbon-police;
    }
    &__list {
        margin-top: $gutter;
        list-style: none;
    }
    &__item {
        margin-top: $gutter / 2;
    }
    &__footer {
        margin-top: $gutter;
    }
}