@import 'src/styles/vars.scss';

.createRoom {
    display: flex;
    flex-direction: column;
    &__infos {
        display: flex;
        justify-content: space-between;
    }
}

.rules {
    flex-grow: 2;
    color : $color-white;
    &__h2 {
        font-size: $h2-size;
    }
    &__list {
        margin-top: $gutter;
        list-style: square;
    }
    &__item {
        margin-top: $gutter / 2;
    }
    &__footer {
        margin-top: $gutter;
    }
}