@import 'src/styles/vars.scss';

.room {
    display: flex;
    justify-content: space-between;
    color: $color-white;
    padding: $gutter;
    &__left {
        width: 33%;
        display: flex;
        flex-direction: column;
        // justify-content: space-evenly;
        &--button {
            width: 50%;
            border: none;
            border-radius: $button-radius;
            margin-top: $gutter;
            font-weight: bold;
            box-shadow: $shadow-letters;
            text-shadow: $shadow-letters;
            font-family: $h1-police;
            &:hover {
                transition-duration: .2s;
                transform: scale(1.2);
            }
        }
        &--launch {
            flex-grow: 2;
            position: relative;
            margin-top: $gutter * 2;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border: 1px solid white;
            height: 30%;
            & .launchGame {
                padding: $gutter;  
                font-size: $h2-size;
            }
            & .isReady {
                padding: $gutter;
                font-size: $h2-size;
                background-color: rgb(0, 158, 13);
                color: white;
            }
            & .isNotReady {
                padding: $gutter;
                font-size: $h2-size;
                background-color: rgb(170, 6, 6);
                color: white;
            }
            & .leaveButton__container {
                width: 50%;
            }
        }
    }
    &__right {
        width: 66%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        &--readyCounter {
            position: absolute;
            right: 30px;
            background-color: white;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            box-shadow: 0px 0px 10px white;
            color:rgb(0, 158, 13);
            display: flex;
            //justify-content: center;
            //align-items: center;
            font-family: $vanilla-police;
            font-size: $h2-size;
            & span {
                display: inline-block;
                text-shadow: 2px 2px 2px black;
            }
            & .isReady__count {
                font-size: 2rem;
            }
            & .isReady__sep {
                font-size: 0.8rem;
            }
            & .isReady__total {
                font-size: 2.5rem;
            }
        }
        &--notReadyCounter {
            color:rgb(170, 6, 6);
        }
        & .roomCode {
            position: relative;
            margin-top: $gutter * 2;
            flex-grow: 1;
            display: flex;
            align-items: baseline;
            width: 50%;
            max-width: 300px;
            margin: $gutter auto;
            text-align: center;
            &__content {
                font-size: 1em;
                align-self: flex-start;
                & span {
                    font-size: 1.1em;
                    font-weight: bold;
                    font-family: $vanilla-police;
                    display: inline-block;
                    margin-left: $gutter / 2;
                    text-shadow: $shadow-letters;
                }
            }
            &__button {
                position: absolute;
                top: -30px;
                left: -70px;
                background-color: transparent;
                box-shadow: $shadow-letters;
                width: 50px;
                padding: 10px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        &--playersList {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            min-height: 60%;
            border: 1px solid white;
        }
        &--chat {
            min-height: 30%;
            border: 1px solid white;
            position: relative;
            //padding: $gutter;
        }
        &--chatButton {
            border: none;
            background-color: transparent;
            transition-duration: .3s;
            position: absolute;
            bottom: 15px;
            right: 15px;
            &:hover {
                transition-duration: .3s;
                transform: scale(1.2);
            }
        }
    }
}


// Media Queries

//Mobile
@media screen  and (min-width:0px) and (max-width: 480px) {
    .room {
        &__left {
            &--button {
                width: 95%;
            }
            &--launch {
                & .leaveButton__container {
                    width: 95%;
                }
            }
            & .launchGame {
                font-size: $h2-size / 1.8;
            }
        }
        &__right {
            justify-content: flex-start;
            &--readyCounter {
                bottom: 0;
                left: 0;
            }
            &--playerList {
                flex-wrap: nowrap;
                overflow-y: auto;
                flex-direction: column;
                align-items: center;
                min-height: 80%;
            }
            &--chat {
                min-height: 60%;
            }
        }
    }
}
//Tablet
@media screen  and (min-width:481px) and (max-width: 768px) {
    .room {
        flex-direction: column;
        &__left {
            flex-direction: row;
            flex-grow: 1;
            border: 1px solid white;
            &--button {
                width: 95%;
            }
            &--launch {
                width: 100%;

                & .leaveButton__container {
                    width: 95%;
                }
            }
            & .launchGame {
                font-size: $h2-size / 1.8;
            }
        }
        &__right {
            position: static;
            border: 1px solid white;
            flex-grow: 3;
            &--readyCounter {
                bottom: 0;
                left: 0;
            }
            &--playerList {
                flex-wrap: nowrap;
                overflow-y: auto;
                flex-direction: column;
                align-items: center;
                min-height: 80%;
            }
            &--chat {
                min-height: 60%;
            }
            & .roomCode {
                justify-content: flex-end;
            }
        }
    }
}
//Tablet Landscape
@media screen  and (min-width:769px) and (max-width: 1024px) {
    .room {
        &__left {
            & .launchGame {
                font-size: $h2-size / 1.8;
            }
        }
        &__right {
            &--playerList {
                flex-wrap: nowrap;
                overflow-x: auto;
            }
        }
    }
  
}
//Laptop
@media screen  and (min-width:1025px) and (max-width: 1615px) {
    .room {
        &__left {
            & .launchGame {
                font-size: $h2-size / 1.8;
            }
        }
    }
}