@import 'src/styles/vars.scss';

.room {
    display: flex;
    justify-content: space-around;
    color: $color-white;
    padding: $gutter;
    &__left {
        flex-grow: 1;
        &--launch {
            margin-top: $gutter * 2;
            height: 10vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            & button {
                width: 50%;
                border: none;
                border-radius: $button-radius;
                padding: $gutter / 2;
                font-weight: bold;
            }
        }
    }
    &__right {
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--playersList {
            display: flex;
            justify-content: space-evenly;
        }
        &--tchat {
            //border: 1px solid $color-white;
            height: 15vh;
            box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.6);
            border-radius: 13px;
        }
    }
}
