@import 'src/styles/vars.scss';

.room {
    display: flex;
    justify-content: space-around;
    color: $color-white;
    padding: $gutter;
    &__left {
        border: 1px solid white;
        flex-grow: 1;
        &--launch {
            border: 1px white solid;
            margin-top: $gutter * 2;
            height: 10vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            & button {
                width: 50%;
                border: none;
                border-radius: $button-radius;
                margin-top: $gutter;
                font-weight: bold;
            }
        }
    }
    &__right {
        border: 1px solid white;
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--playersList {
            display: flex;
            justify-content: space-evenly;
            border: 1px solid white;
        }
        &--chat {
            border: 1px solid $color-white;

        }
    }
}


// Media Queries

//Mobile
@media screen  and (min-width:0px) and (max-width: 480px) {
}
//Tablet
@media screen  and (min-width:481px) and (max-width: 768px) {
}
//Tablet Landscape
@media screen  and (min-width:769px) and (max-width: 1024px) {
}
//Laptop
@media screen  and (min-width:1025px) and (max-width: 1600px) {
}
//Desktop
@media screen  and (min-width:1601px) {
}