@import 'src/styles/vars.scss';

.home{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $gutter *2;

    &__description{
        font-size: $p-size * 1.2;
    }

    &__slide{
        margin: $gutter;
        width: 800px;
        height: 400px;
    }

    &__play-button{
        font-size: $p-size * 1.5;
        margin: $gutter;
        padding: $gutter;
        border-radius: 15px;
        border: none;
        background-color: rgb(54, 211, 11);
    }
    &__play-button:hover{
        background-color: rgb(31, 128, 11);
    }
}