@import 'src/styles/vars.scss';

.home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: $gutter *2;

    &__title {
        font-size: $h2-size *2;
        font-family: $carbon-police;
        color: white;
        position: relative;
        bottom: 170px; 
        left: 20px
    }

    &__description{
        font-size: $p-size * 1.3;
        font-family: $vanilla-police;
        text-align: justify;
        letter-spacing: 1.5px;
        line-height: 2rem;
        width: 45%; 
        color: white; 
        position: relative;
        top: 50px; 
        right: 120px; 
        & span {
            font-size: 1.5rem;
        }
    }

    .containerSlide {
        width: 650px;
        margin: auto;
        padding-top: 200px;
    }
    
    .containerSlide img {
        height: 500px;
    }

    &__play-button{
        font-size: $p-size * 1.5;
        margin: auto; 
        margin-top: $gutter*5; 
        padding: $gutter;
        border-radius: 10px;
        border: none;
        color:rgb(235, 235, 235);
        width: 15%;
        margin-bottom: 15px;
        border: none; 
        transition-duration: 0.2s;
        background-color: #692b67; 
        &:hover {
            background-color: #dcdbdb; /* Green */
            color: #692b67;
            font-size: 1.8rem;
        }
    }
}

// @media screen and (max-width: 1600px ) {
//     .home {
//         &__description{
//             font-size: $p-size * 1.2;
//         }
//     }
    
// }

