@import 'src/styles/vars.scss';

.home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: $gutter *2;

    &__description{
        font-size: $p-size * 1.2;
        margin-right: 2rem; 
        color: white; 
    }

    .containerSlide {
        width: 650px;
        margin: auto;
        padding-top: 200px;
    }
    
    .containerSlide img {
        height: 500px;
    
    }

    &__play-button{
        font-size: $p-size * 1.5;
        margin-left: $gutter*38;
        padding: $gutter;
        border-radius: 10px;
        border: none;
        color:rgb(235, 235, 235);
        width: 15%;
        margin-bottom: 15px;
        border: none; 
        transition-duration: 0.2s;
        background-color: #692b67; 
        &:hover {
            background-color: #dcdbdb; /* Green */
            color: #692b67;
            font-size: 1.8rem;
        }
        
    }
}