@import 'src/styles/vars.scss';

.chat__form{
    display: flex;
    .input{
        flex: 1;
        padding: 0.5rem;
        
        border-color: transparent;
    }
}

.submit{
     
    border-color: transparent;
    background-color: black;
    color: white;
    font-weight: bold;
    
}
.submit:hover{
    transition-duration: 0.5s;
    background-color: rgb(21, 255, 0);
}

