@import 'src/styles/vars.scss';

.chatForm{
    display: flex;
    max-height: 50px;
    width: 100%;
    &__input {
        flex-grow: 4;
        border: none;
        padding: $gutter * 0.75;
        border-bottom-left-radius: 8px;
        &::placeholder {
            color: $violet-color;
            text-decoration: underline;
        }
    }
    &__submit {
        border: none;
        border-bottom-right-radius: 8px;
        background-color: $violet-color;
        flex-grow: 1;
        &:hover {
            transition-duration: 0.5s;
            background-color: rgb(157, 88, 163);
            transform: scale(1.1);
        }
    }
}

