@import 'src/styles/vars.scss';

.leaveGame {
    width: 100%;
    height: 3rem;
    background-color: rgb(218, 6, 6);
    color: $color-white;
    font-weight: bold;
    border: none;
    border-radius: $button-radius;
    align-self: center;
    font-family: $h1-police;
    text-shadow: 2px 2px 1px black;
}