@import 'src/styles/vars.scss';

.profil{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
    padding: 0 1rem 0rem 1rem;
    &__main{
        width: 100%;
    }
    
    &__historique-first{
        color: white;
        font-weight: bold;
        font-size: 25px;
        margin-top: 0.5rem;
        position: relative;
        left: 195px;
        bottom: 175px; 
    }

    &__historique-second{
        color: white;
        font-weight: bold;
        font-size: 25px;
        margin-top: 0.5rem;
        position: relative;
        left: 205px;
        bottom: 100px;
        
    }

    &__historique-third{
        color: white;
        font-weight: bold;
        font-size: 25px;
        margin-top: 0.5rem;
        position: relative;
        bottom: 45px;
        left: 20px;
    }

    &__historique-last{
        color: white;
        font-weight: bold;
        font-size: 25px;
        margin-top: 0.5rem;
        position: relative;
        right: 300px;
        bottom: 165px;
    }

    &__historique-exactly{
        color: white;
        font-weight: bold;
        font-size: 25px;
        margin-top: 0.5rem;
        position: relative;
        right: 260px;
        bottom: 310px;
    }

    &__historique-game{
        color: white;
        font-weight: bold;
        font-size: 25px;
        margin-top: 0.5rem;
        position: relative;
        left: 20px;
        bottom: 470px;
    }

    

    &__onglet-content{
        display: flex;
        width: 100%;
        .profil__onglet{
            cursor: pointer;
            flex-grow: 1;
            text-align: center;
            padding: $gutter;
            border: 2px solid rgb(133, 130, 130);
            font-size: 30px;
            font-weight: bold;
            color: white;
            margin-bottom: 2rem; 
            font-family: 'Vanilla';
            letter-spacing: 2px;
        }
        .active{
            background-color: $color-white;
            color: $violet-color;
        }
    }

    &__information{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    &__avatar-content{
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 33px;
        span{
            cursor: pointer;
            
        }
    }
    &__avatar{
        
        border-radius:100px;
        width:110px;
        border: 1px solid rgb(247, 195, 36);
        padding: 1rem;
        margin-top: 4rem;
        margin-left: 3.7rem;
        
        
    }

    &__avatar-history{

        border-radius:90px;
        width:140px;
        position: relative;
        border: 1px solid rgb(247, 195, 36);
        padding: 1rem;
        margin-top: 4rem;
        margin-left: 2rem;
        margin-top: 6rem;
        top: 33px;
    }

    
    &__form{
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        
        
        label{
            width: 100%;
            margin: $gutter*0.5 0;
            text-align: center;
            font-weight: bold;
            color: white;
            font-family: 'Vanilla';
            font-size: 25px;
            letter-spacing: 2px;
            
            
        }
        button{
            margin: $gutter*0.5 0;
            
        }
        
        
        
        &-valid{
            background-color: rgb(26, 174, 159);
            border: 1px solid transparent;
            border-radius: 5px;
            padding: 0.5rem;
            font-weight: bold;
            padding-right: 50px;
            padding-left: 50px;
            transition: all 0.1s;
            box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
            -webkit-transition: all 0.1s;
            font-size: 15px;
            font-family: 'Vanilla';
            letter-spacing: 2px;
        }

        &-valid:hover{

            transform: scale(1.2);
            
        }

        &-valid:active{

            transform: translate(0px,5px);
            -webkit-transform: translate(0px,5px);
            box-shadow: none;
            border-bottom: 1px solid;
        }

        &-delete{
            background-color: #BF3765;
            border: 1px solid transparent;
            border-radius: 5px;
            padding: 0.6rem;
            font-weight: bold;
            margin-top: 3rem;
            margin-left: 1rem;
            transition: all 0.1s;
            box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
            -webkit-transition: all 0.1s;
            
            font-family: 'Vanilla';
            letter-spacing: 2px;
            
        }
        &-delete:hover{
            background-color: red;
            transform: scale(1.2);
        }

        &-delete:active{
            
            transform: translate(0px,5px);
            -webkit-transform: translate(0px,5px);
            box-shadow: none;
            border-bottom: 1px solid;
        }

        &-pseudo{
            border: 1px solid gray;
            padding: 0.5rem;
            

            
            
        }
        
        &-email{
            border: 1px solid gray;
            padding: 0.5rem;
            
        }

        &-oldpassword{
            border: 1px solid gray;
            padding: 0.5rem;
            &::placeholder{
                font-weight: bold;
            }
        }

        &-newpassword{
            border: 1px solid gray;
            padding: 0.5rem;
            margin-top: 0.5rem;
            &::placeholder{
                font-weight: bold;
            }
        }

        &-validpassword{
            border: 1px solid gray;
            padding: 0.5rem;
            margin-top: 0.5rem;
            &::placeholder{
               font-weight: bold; 
            }
        }
        
    }

    &__edit{
        display: flex;
        align-items: center;
        margin: $gutter*0.5 0;
        svg{
            margin-left: $gutter*0.5;
            font-size: $p-size*1.5;
            cursor: pointer;
            transition: transform .2s;
        }
        svg:hover{
            transform: scale(1.5);
        }
    }

    &__add-avatar{
        color: rgb(247, 195, 36);
        position: absolute;
        top: 53px;
        left: 178px;
        border: none;
        background-color: transparent;
        transition: .2s scale;
        &:hover{
            cursor:pointer ;
            transform: scale(1.2);
        }
    }
}



//Mobile
@media screen  and (min-width:0px) and (max-width: 549px) {
    .profil{

        &__onglet-content{
            display: flex;
            width: 100%;
        }
        &__form-delete {
            background-color: red;
            border: 1px solid transparent;
            border-radius: 5px;
            padding: 0.5rem;
            font-weight: bold;
            margin-top: 3rem;
            margin-left: 1rem;
            position: absolute;
            bottom: 225px;
            left: 54px;
        }

        &__avatar{
            border-radius: 100px;
            width: 110px;
            border: 1px solid #f7c324;
            padding: 1rem;
            margin-top: 4rem;
            margin-left: 5rem;
        }
        
        &__information{
            width: 85%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
}
@media screen  and (min-width:0px) and (max-width: 420px) {
    .profil{
        

       

        &__historique-first{
            color: black;
            font-weight: bold;
            font-size: 20px;
            margin-top: 0.5rem;
            position: initial;
        }
    
        &__historique-second{
            color: black;
            font-weight: bold;
            font-size: 20px;
            margin-top: 0.5rem;
            position: initial;
            
        }
    
        &__historique-third{
            color: black;
            font-weight: bold;
            font-size: 20px;
            margin-top: 0.5rem;
            position: initial;
        }
    
        &__historique-last{
            color: black;
            font-weight: bold;
            font-size: 20px;
            margin-top: 0.5rem;
            position: initial;
        }
    
        &__historique-exactly{
            color: black;
            font-weight: bold;
            font-size: 19px;
            margin-top: 0.5rem;
            position: initial;
        }
    
        &__historique-game{
            color: black;
            font-weight: bold;
            font-size: 20px;
            margin-top: 0.5rem;
            position: initial;
        }

        &__avatar-history{
            margin-top: 1rem;
        }

        &__onglet-content{
            display: flex;
            width: 88%;
            .profil__onglet{
                cursor: pointer;
                flex-grow: 1;
                text-align: center;
                padding: $gutter;
                border: 2px solid rgb(133, 130, 130);
                font-size: 20px;
                font-weight: bold;
                color: white;
                margin-bottom: 2rem; 
            }
        }
        
        
        }
        
}
//Tablet
@media screen  and (min-width:420px) and (max-width: 900px) {
    .profil{
        

        &__historique-first{
            color: black;
            font-weight: bold;
            font-size: 25px;
            margin-top: 0.5rem;
            position: initial;
        }
    
        &__historique-second{
            color: black;
            font-weight: bold;
            font-size: 25px;
            margin-top: 0.5rem;
            position: initial;
            
        }
    
        &__historique-third{
            color: black;
            font-weight: bold;
            font-size: 25px;
            margin-top: 0.5rem;
            position: initial;
        }
    
        &__historique-last{
            color: black;
            font-weight: bold;
            font-size: 25px;
            margin-top: 0.5rem;
            position: initial;
        }
    
        &__historique-exactly{
            color: black;
            font-weight: bold;
            font-size: 25px;
            margin-top: 0.5rem;
            position: initial;
        }
    
        &__historique-game{
            color: black;
            font-weight: bold;
            font-size: 25px;
            margin-top: 0.5rem;
            position: initial;
        }

        &__avatar-history{
            margin-top: 1rem;
        }
        }
}
//Tablet Landscape
@media screen  and (min-width:901px) and (max-width: 1024px) {
    
}
//Laptop
@media screen and  (max-width: 1600px) {
    
}

.deleteModel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    border: 1px solid #ccc;
    background: #ccc;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    h1{
        text-align: center;
        font-size: $h2-size;
        margin: $gutter;
        font-family: $vanilla-police;
    }
    p{
        text-align: center;
        font-size: $h2-size;
        font-weight: bold;
        margin-bottom: 1em;
        color: red;
    }
    .buttons{
        display: flex;
        justify-content: space-around;
        .validButton{
            background-color: red;
            color: white;
            border: none;
            font-weight: bold;
            padding: $gutter;
            font-size: $p-size;
            border-radius: 5px;
            transition: transform 0.2;
        }
        .cancelButton{
            background-color: green;
            color: white;
            border: none;
            font-weight: bold;
            font-size: $p-size;
            padding: $gutter;
            border-radius: 5px;
            transition: transform 0.2;
        }
        .validButton:hover{
            transform: scale(1.3);
        }
        .cancelButton:hover{
            transform: scale(1.3);
        }
    }
  }
  
  .deleteOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

.avatarModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    border: 1px solid #ccc;
    background: #ccc;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    h1{
        text-align: center;
        font-size: $h1-size;
        margin: $gutter;
        font-family: $h1-police;
    }
    p{
        text-align: center;
        font-size: $h2-size;
        margin-bottom: $gutter;
        color: green;
        font-family: $vanilla-police;
    }
    .avatars{
        display: flex;
        margin: $gutter*2 0;
        .avatar{
            width: 100px;
            transition: transform 0.2s;
            cursor: pointer;
            
        }
        .avatar:hover{
            transform: scale(1.3)
        }
    }
    .selectedAvatar{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.2s;
        cursor: pointer;
        
    }
    .selectedAvatar img{
        width: 100px;
    }
    .buttons{
        display: flex;
        justify-content: space-around;
        .validButton{
            background-color: green;
            color: white;
            border: none;
            font-size: $h2-size;
            font-weight: bold;
            padding: $gutter*1;
            border-radius: 5px;
            transition: transform 0.2;
        }
        .cancelButton{
            background-color: gray;
            color: white;
            border: none;
            font-size: $h2-size;
            font-weight: bold;
            padding: $gutter*.5;
            border-radius: 5px;
            transition: transform 0.2;
        }
        .validButton:hover{
            transform: scale(1.3);
        }
        .cancelButton:hover{
            transform: scale(1.3);
        }
    }
  }
  
  .avatarOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
