@import 'src/styles/vars.scss';

.app {
    overflow-x: hidden; // To make menu disappear without scroll x
    background: #cc2b5e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png"),linear-gradient(to right, #9146aa, #e7316b);
}

.game__main {
    position: relative;
    background: linear-gradient(to right, #753a88, #cc2b5e);
    margin: $gutter auto;
    height: 80vh;
    width: 80%;
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
}

//Mobile
@media screen  and (min-width:0px) and (max-width: 480px) {
    .game__main {
        width: 95%;
        height: 85vh;
    }
}
//Tablet
@media screen  and (min-width:481px) and (max-width: 768px) {
    .game__main {
        width: 95%;
        height: 85vh;
    }
}
//Tablet Landscape
@media screen  and (min-width:769px) and (max-width: 1200px) {
    .game__main {
        width: 95%;
    }
}
//Laptop
@media screen  and (min-width:1025px) and (max-width: 1600px) {
}
//Desktop
@media screen  and (min-width:1601px) {
}