/***** General colors ***/

// Footer
$footer-bg: rgb(226, 224, 224);
$footer-color: #000;

// Header

// Random blocks
$border-color: rgb(189, 186, 186);

// Menu

// buttons




/***** Sizing for margin, padding, etc ****/
$gutter: 1rem;

/***** Police *****/

$color-white: #fff;
// Sizing
$h1-size: 2.5em;
$h2-size: 1.5em;
// Styles
@font-face {
    font-family: "CarbonBlock";
    src: url("./fonts/CarbonBlock.ttf") format("truetype");
}

$h1-police: 'CarbonBlock', serif;

/*********** ELEMENTS **************/

/***** buttons *****/

$button-create-bg: #6558F5;
$button-join-bg: #BF3765;
$button-radius: 5px;