@font-face {
    font-family: "CarbonBlock";
    src: url("./fonts/CarbonBlock.ttf") format("truetype");
}
@font-face {
    font-family: "labs";
    src: url("./fonts/LABTSECB.ttf") format("truetype");
}
@font-face {
    font-family: "airmole";
    src: url("./fonts/AirmoleShaded.ttf") format("truetype");
}

/***** Coloring *****/

// Footer
$footer-bg: rgb(226, 224, 224);
$footer-color: #000;

// Header
$header-color: #fff;

// Random blocks
$border-color: rgb(189, 186, 186);

// Menu
$menu-bg: #fff;


/***** Sizing for margin, padding, etc ****/
$gutter: 1rem;

/***** Police *****/

// Sizing
$h1-size: 2.5em;
$p-size: 1em;
// Styles

$h1-police: 'airmole', serif;
