/***** General colors ***/

// Footer
$footer-bg: rgb(226, 224, 224);
$footer-color: #000;

// Header

// Random blocks
$border-color: rgb(189, 186, 186);

// Menu
$menu-color: rgb(223, 222, 222);

// buttons
$violet-color:#692b67; 

//link 
$link-color: rgb(57, 163, 220);


/***** Sizing for margin, padding, etc ****/
$gutter: 1rem;

/***** Police *****/

$color-white: #fff;
// Sizing
$h1-size: 2.5em;
$p-size: 1em;
$h2-size: 1.5em;

// Styles

@font-face {
    font-family: 'CarbonBlock';
    src: url('fonts/CarbonBlock.ttf') format('truetype');
}

@font-face {
    font-family: 'AirmoleShaded';
    src: url('fonts/AirmoleShaded.ttf') format('truetype');
}

@font-face {
    font-family: 'Vanilla';
    src: url('fonts/Vanilla.ttf') format('truetype');
}

$h1-police: 'Airmoleshaded', serif;
$carbon-police: 'CarbonBlock', serif;
$vanilla-police: 'Vanilla', serif;

// text shadow
$shadow-letters: 1.5px 1.5px 5px black;

/*********** ELEMENTS **************/

/***** buttons *****/

$button-create-bg: #6558F5;
$button-join-bg: #BF3765;
$button-radius: 5px;
