@import 'src/styles/vars.scss';

.round {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    bottom: -20px;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $carbon-police;
    text-shadow: 2px 2px 1px black;
    &__value {
        font-size: $h1-size * 1.5;
        margin-right: $gutter / 2;
    }
    &__separator {
        color: black;
        font-size: $h1-size / 2;
        text-shadow: none;
        margin-right: $gutter / 2;
    }
    &__total {
        font-size: $h1-size;
    }
}

//Mobile
@media screen  and (min-width:0px) and (max-width: 480px) {
    .round {
        width: 50px;
        height: 50px;
        bottom: -20px;
        right: -5px;
        &__value {
            font-size: 2.4em;
        }
        &__separator {
            font-size: $h1-size / 4;
        }
        &__total {
            font-size: 2em;
        }
    }
}
//Tablet
@media screen  and (min-width:481px) and (max-width: 768px) {
    .round {
        width: 60px;
        height: 60px;
        &__value {
            font-size: 2.4em;
        }
        &__separator {
            font-size: $h1-size / 4;
        }
        &__total {
            font-size: 2em;
        }
    }
}
//Tablet Landscape
@media screen  and (min-width:769px) and (max-width: 1024px) {
    .round {
        width: 80px;
        height: 80px;
        &__value {
            font-size: 2.4em;
        }
        &__separator {
            font-size: $h1-size / 4;
        }
        &__total {
            font-size: 2em;
        }
    }
}
//Laptop
@media screen  and (min-width:1025px) and (max-width: 1200px) {
    .round {
        width: 80px;
        height: 80px;
        &__value {
            font-size: 2.4em;
        }
        &__separator {
            font-size: $h1-size / 4;
        }
        &__total {
            font-size: 2em;
        }
    }
}
//Desktop
@media screen  and (min-width:1601px) {
}
