@import 'src/styles/vars.scss';

.signup{
    
    &__title {
        text-align: center;
        margin: $gutter;
        margin-bottom: 2rem;
        font-size: 3rem; ;
        font-family: $carbon-police;
        color: white; 
    };

    &__form{
        display: flex;
        flex-direction: column;
        align-items: left;
        font-size: 1.5rem;
        background-color: rgb(223, 222, 222);
        width: 40%;
        margin: auto;
        flex-wrap: wrap;
        border-radius: 5px;
        margin-bottom: 1.2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__label{
        margin: $gutter*1.5;
        p{
            margin-bottom: $gutter*1.5;
            font-size: $p-size *1.1;
        }
    }
    &__field {
        background-color: rgb(223, 222, 222);
        border: none; 
        border-bottom: 2px solid #843781;
        margin-left: 2rem;
        width: 80%;
        font-size: 1.2rem;
        transition-duration: 0.2s;
            &:hover {
                color: #692b67;
            }
    }
    &__button {
        width: 40%;
        margin: auto;
        margin-bottom: 1.5rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        border: none;
        border-radius: 5px;
        border: 2px solid #692b67;
        background-color: #692b67; 
        color: white;
        font-size: 1.2rem;
        &:hover {
            background-color: #dcdbdb; 
            color: #692b67;
            // font-size: 1rem;
            border: 2px solid rgb(196, 195, 195);
        }
    }
}

//Mobile
// @media screen  and (min-width:0px) and (max-width: 480px) {
    
// }
//Tablet
// @media screen  and (min-width:481px) and (max-width: 768px) {
    
// }
//Tablet Landscape
@media screen  and (max-width: 920px) {
    .signup {
        &__label {
            margin-left: $gutter;
        }
        &__form {
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }
}
@media screen  and (max-width: 1040px) {
    .signup {
        &__form {
            width: 50%;
        }
    }
}
//Laptop
@media screen and (max-width: 1560px) {
    .signup {
        &__form {
            width: 45%;

        }
    }
}
@media screen and (max-width: 1330px) {
    .signup {
        &__form {
            width: 50%;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

//Desktop
@media screen and (max-width: 1880px) {
    .signup {
        &__label {
            p {
                font-size: $p-size;
            }
        }

        &__button {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 1650px) {
    .signup {
        &__label {
            p {
                font-size: $p-size * 0.9;
            }
        }
    }
}