@import 'src/styles/vars.scss';

.ranking {
    flex-grow: 1;
    padding-top: $gutter; 
    margin-top: $gutter;
    margin-bottom: $gutter;
    margin-right: $gutter;
    text-align: center;
    border-radius: 15px;
    box-shadow: $shadow-letters;
    z-index: 5;

    &__title {
        font-size: $h2-size;
        font-family: $h1-police;
        color: white;
        text-shadow: $shadow-letters;
        padding-bottom: $gutter;
    }

    &__list {
        margin-top: $gutter;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        overflow-y: auto;
        max-height: 90%;
        &--isOver {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}

//Mobile
@media screen  and (min-width:0px) and (max-width: 480px) {
    .ranking {
        width: 100%;
        &__list {
            flex-direction: row;
        }
    }
}
//Tablet
@media screen  and (min-width:481px) and (max-width: 768px) {
    .ranking {
        width: 100%;
        &__list {
            flex-direction: row;
        }
    }
}
//Tablet Landscape
@media screen  and (min-width:769px) and (max-width: 1024px) {
}
//Laptop
@media screen  and (min-width:1025px) and (max-width: 1600px) {
}
//Desktop
@media screen  and (min-width:1601px) {
}
