@import 'src/styles/vars.scss';

.interactions {
    width: 70%;
    margin: $gutter auto;
    &__button {
        min-width: 200px;
        padding: $gutter 0;
        border-radius: $button-radius;
        color: $color-white;
        border: none;
        font-weight: bold;
    }
    &__create {
        background: $button-create-bg;
        margin-top: $gutter;
    }
    &__joinForm {
        margin-top: $gutter;
        display: flex;
        &--join {
            background: $button-join-bg;           
            margin-right: $gutter * 2;  
        }
        &--roomCode {
            width: 250px;
            font-family: $carbon-police;
            font-size: $h2-size;
            text-align: center;
            border-radius: $button-radius;
            border: none;
            &::placeholder {
                text-decoration: underline;
                text-align: center;
            }
        }
    }
}


.is-hidden {
    display: none;
}

.error {
    color: red;
}